<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longcheer.reboot"
    android:versionCode="1"
    android:versionName="1.0" 
	android:sharedUserId="android.uid.system">


    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.RECEIVER_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppListTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver 
            android:name=".BootReceiver"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <receiver 
            android:name=".CheckReceiver"
            >
            <intent-filter>
                <action android:name="Acitivity.already.started"/>                
            </intent-filter>
        </receiver>
        <activity
            android:name=".TestFailActivity"
            android:label="@string/result">
            <intent-filter>
                <action android:name="android.intent.action.Main"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TestPassActivity"
            android:label="@string/result">
            <intent-filter>
                <action android:name="android.intent.action.Main"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
    

</manifest>
